.manualDrawTab {
    text-align: center;
    margin-top: 2rem;
}

.drawButton {
    margin-bottom: 1rem;
}

.gif {
    width: 200px;
    margin-top: 1rem;
    animation: fadeIn 0.5s ease-in;
    margin-bottom: 3rem;
}

.winner {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
    color: #2e7d32;
    margin-bottom: 3rem;
}